<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    'this is home'
    Bringing together the world’s foremost experts in the disciplines of astronautics on a regular basis to recognize the accomplishments of their peers,
    to explore and discuss cutting-edge issues in space research and technology, 
    and to provide direction and guidance in the non-military uses of space and the ongoing exploration of the solar system    


    <p>Back to <a href="/career">career</a></p>

    <p>Back to <a href="/curriculum">curriculum</a></p>

    <p>Back to <a href="/student">student</a></p>

    <p>Back to <a href="/trainer">trainer</a></p>
</body>
</html>
</body>
</html>